<div class="resume-header">
  <h1>
    Rubén Gil
  </h1>
</div>
<div class="tools">
  <%= link_to "Refresh", resumes_refresh_path %>
</div>
<div class="resume">
  <section class="section">
    <section class="contact">
      <p class="name"><%= @profile.first_name %> <%= @profile.last_name %></p>
      <p class="email"><%= @profile.email %></p>
      <p class="phone">34620901135</p>
      <p class="phone">34936331111</p>
    </section>
  </section>
  <section class="picture">
  </section>
  <section class="section">
    <h1>Summary</h1>
    <div class="content">
      <p><%= @profile.summary %></p>
    </div>
  </section>
  <%= render_section "Experience", @profile.positions %>
  <%= render_section "Projects", @profile.projects %>
  <%= render_section "Education", @profile.educations %>
</div>
