<div class="resume-header">
  <h1>
    Rubén Gil
  </h1>
</div>
<div class="tools">
  <%= link_to "Refresh", resumes_refresh_path %>
</div>
<div class="resume">
  <section class="section">
    <section class="contact">
      <p class="name">Rubén Gil Gómez</p>

      <p class="email">rubengil22@gmail.com</p>

      <p class="phone">34620901135</p>

      <p class="phone">34936331111</p>
    </section>
  </section>
  <section class="picture">
  </section>
  <section class="section">
    <h1>Summary</h1>
    <div class="description">
      <p><%= @user_profile.summary %></p>
    </div>
  </section>
  <section class="section">
    <h1>Experience</h1>

    <div class="description">
      <% @user_profile.positions.each do |position| %>
      <div class="period">
        <h1><%= position.company %></h1>

        <h2><%= position.start_date %> - <%= position.end_date %></h2>

        <h3><%= position.title %></h3>

        <p><%= position.summary %></p>
      </div>
      <% end %>
    </div>
  </section>
</div>
